Data_dissertation/
Codebase/
Tutorial_Notebook/
testing/
yoga_poses/
classification model/
frontend/
node_modules/
package-lock.json
package.json
corsconfig.json


# macOS specific files
.DS_Store

# Virtual environments
.env
.env.sh
venv/
ENV/

# IDE-specific files
.vscode/
.idea/

__pycache__/

