
.home-header {
    background: linear-gradient(100deg,#1877F2, #0b70f4);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-container {
    background: rgb(21, 98, 200)
}
.header-btn:hover {
    border-color: rgb(241, 131, 131);
}

.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 44px;
    margin-left: 30px;
    color: rgb(236, 226, 84);
    font-family: 'Kaushan Script', cursive;
}

.home-main {
    margin: auto;
    margin-top: -50px;
    width: 100vw;
    height: 100vh;    
    background: linear-gradient(rgba(11, 197, 181, 0.2), rgba(14, 39, 223, 0.8)), url('../../utils/images/yoga.jpeg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  750px;
}

.description {
    font-size: 66px;
    color: rgb(235, 179, 24);
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
}

.btn-section {
    position: absolute;
    left: 38vw;
    top: 60vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: #153e73;
    color: white;
    font-size: 24px;
    border-color: #153e73;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    padding: 5px 10px;
}
#about-btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}
#about-btn:focus {
    box-shadow: none;
    background: white;
    border-color: white;
    color: black;
}